*,  *::before, *::after { 
	box-sizing: border-box; 
}

body {
	font-family: PT Sans Narrow;
	color: #000000;
	font-weight: normal;
	font-size: 14px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
	background-color:#000000;
	min-height: 72px;
	margin-bottom: 54px;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    outline: 1px solid #ff7f7f;
}

.logo {
	float: left;
	width: 150px;
	min-height: 72px;
	margin-right: 10px;
	outline: 1px solid #fa3cb9;
}

.main-navigation {
	float: left;
	width: 540px;
	min-height: 72px;
	outline: 1px solid #a18eef;
}

.main-navigation li {
	display: inline-block;
}

.user-block {
    float:right;
    width: 140px;
    min-height: 72px;
    outline: 1px solid #4b24f4;
}

.container-navigation {
   margin-top: 19px;
   margin-bottom: 56px;
   outline: 1px solid #88f0bb;
}

.container-breadcrumbs {
	padding: 0px;
}

.container-breadcrumbs li {
   display:inline-block;

}

.content {
  width: 220px;
  min-height: 592px;
  float:left;
  margin-right: 20px;
  outline: 1px solid #4bfff4;
}
.content-check {
  width: 220px;
  min-height: 286px;
  margin-bottom: 20px;
  outline: 1px solid #1c6f70;
}

.content-product {
  width: 220px;
  min-height: 220px;
  outline: 1px solid #fcc883;
}

.product {
	min-height: 592px;
	margin: 0;
	overflow: hidden;
	font-size: 0px;
	outline: 1px solid #d46eff;
}

.product-item {
	display: inline-block;
	width: 220px;
	min-height: 286px;
	vertical-align: top;
	font-size: 14px;
	outline: 1px solid #003cff;
}

.page-number {
	padding: 45px 240px 49px;
    outline: 1px solid #66cf4e;
}

.set {
    width: 940px;
    height: 668px;
    outline: 1px solid #7e4a4a;
}

.set-gallery {
	width: 460px;
	min-height: 668px;
	margin: 0px;
	float: left;
	margin-right: 80px;
	outline: 1px solid #d7e27f;
}

.huge {
	margin-bottom: 21px;
}

.set-gallery img {
	margin-right: 15px;
}

.set-gallery img:last-child {
    margin-right: 0;
}

.set-annotation {
	width: 400px;
    height: 668px;
	float: right;
	outline: 1px solid #6e0a87;
}

.exposition-up {
    width: 400px;
    min-height: 364px;
    padding: 0px 10px;
    outline: 1px solid #897bbc;
}

.exposition-up p {
	margin: 0px;
}

.exposition-down {
	width: 400px;
	min-height: 305px;
	padding: 0 10px;
	outline: 1px solid #458763;
}
    
.content-index {
    margin: 0;
}

.main-footer {
	min-height: 189px;
	padding-top: 49px;
    outline: 1px solid #2c7c4e;

}
.footer-contacts {
    width: 320px;
    min-height: 189px;
	float:left;
	margin-right: 80px;
}
.footer-social {
	width: 140px;
	min-height: 189px;
	float:left;
}

.footer-copyright {
	width: 140px;
	min-height: 189px;
	float: right;

}

.main-footer .container {
  padding: 0;
}

h1 {
    text-transform: uppercase;
	font-size: 30px;
	line-height: 42px;
	
}


h2{
	font-size: 24px;
	line-height: 30px;
}